.alert {
  position: relative;
  padding: 12px 40px 12px 20px;
  border-width: 2px;

  @include media-breakpoint-up(md) {
    padding: 12px 40px;
  }
  &-warning {
  	background-color: $state-warning-bg;
    border-color: $state-warning-border;
    color: $state-warning-text;
    
    .alert__close {
    	color: $state-warning-border;
    }
  }	
	
  &__close {
    background: none;
    position: absolute;
    right: 10px;
    top: 10px;
    border: 0;
    padding: 0;
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 25px;
    transition: opacity .3s ease;

    i {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      opacity: .8;
    }
  }

  p {
    // color: #198afa;
    font-size: 16px;
    font-weight: 600;
  }
}
