.box {
  background-color: white;
  border: 1px solid #ececec;
  border-radius: 2px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.12);
  padding: 30px 20px 20px;

  @include media-breakpoint-up(md) {
    padding: 50px 40px 30px;
  }


  &__heading {
    color: #4b5259;
    line-height: 20px;
  }
}
