.btn {
  line-height: 1;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.6px;
  transition: all .3s ease;

  .caret {margin-left: 5px;}
}

//button with big paddings
.btn-px2 {
  padding-left:30px;
  padding-right: 30px;
}

// orange  buttons
.btn-secondary {
  @include button(#fff, $brand-secondary,  $brand-secondary,  $brand-secondary, transparent,  $brand-secondary);
}

// gray button
.btn-simple {
  @include button($text-color, transparent,  $gray-base, $text-color, lighten($gray-base, 25%),  lighten($gray-base, 5%));
}

// btn action (gear)
.btn-action {
  padding: 0;
  width: 19px;
  height: 19px;
  border:0;
  border-radius:0;
  background:url('../images/icons/gear.svg') no-repeat;

  &:active, &.active {background-image: url('../images/icons/gear.svg'); box-shadow: none;}

  &:after {display: none;}
}

.btn-player {
  @include button($btn-primary-color, $gray-dark,  $gray-base, $text-color, lighten($gray-base, 25%),  lighten($gray-base, 5%));
}
.btn-blue {
	@include button($btn-primary-border, lighten($btn-primary-bg, 43%),  $btn-primary-border, $btn-primary-border, lighten($btn-primary-bg, 25%),  lighten($btn-primary-bg, 5%));
}
.btn-link-large {
	font-size: 15px;
}
