.form-control {
	&:focus {
		box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075) inset, 0 0 2px rgba(25, 138, 250, 0.6);
	}
}

/* Selectbox */
.select2-container {
	width: 100% !important;
	display: block !important;
	
	.select2-selection--single {
		height: 40px !important;
	    border: 1px solid #d2d2d2;
	    border-radius: 2px;
	    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	    color: #4b5259;
	    display: block;
	    font-size: 14px;
	    height: 40px;
	    line-height: 1.42857;
	    padding: 0px 6px;
	    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	
		.select2-selection__rendered {
			line-height: 38px !important;
		}
		.select2-selection__arrow {
			height: 38px !important;
			
			b {
				border-top-color: $brand-primary;
			}
		}
		&.secondary {
			.select2-selection__arrow {
				width: 35px;
				border-left: 1px solid #d2d2d2;
				background-color: $light;
			}
		}
		&.unit {
			.select2-selection__arrow {
				width: 50px;
				border-left: 1px solid #d2d2d2;
				&:before {
					content: "TB";
					font-size: 13px;
					font-weight: bold;
					line-height: 40px;
					padding-left: 10px;
					color: $text-color;
				}
				b {
					left: 35px;

				}
			}		
		}
	}
	
	.select2-selection--multiple {
		.select2-selection__choice {
			background-color: $brand-blue;
			border-color: #198afa;
			border-radius: 2px;	
			padding: 3px;
		}
		.select2-selection__choice__remove {
			color: $brand-primary;
		}
	}
	
	&.select2-container--focus {
		.select2-selection--multiple {
			border-color: #198afa;
			box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075) inset, 0 0 2px rgba(25, 138, 250, 0.6);	
		}	
	}
	img.select-icon {
		padding-right: 10px;
	}
}

/* Input Number */
input[type=number] {
	width: 80px;
}

/* Input Group */

.input-group-btn {
	button.btn.dropdown-toggle {
		background-color: $brand-blue;
		height: 40px !important;
	    border: 1px solid #d2d2d2;
	    border-radius: 2px;
	    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	    color: $brand-primary;
	    display: block;
	    height: 40px;
	    line-height: 1.42857;
	    padding: 0px 15px;
	    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;	
	    
	    &:after {
	    	border-width: 5px 4px 0 !important;
	    }
	}	
}

/* textarea */
textarea {
	min-height: 100px;
}
td .toggle.btn {
	margin: auto;
}


/* dropzone */
.dropzone {
	min-height: auto;
	padding: 0;
	border: 2px dashed $brand-primary;
	background-color: $brand-blue;
	
	.dz-message {
		color: $brand-primary;
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;
	}	
}

