.nav-tabs > li > a {
  color: $gray9B;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin-right: 0;
  border-radius: 0;
  border: 0;
  border-bottom: 2px solid transparent;
  transition: all .3s ease-out;
}

.nav-tabs > li > a:hover,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: 0;
  border-bottom: 2px solid $brand-primary;
}


.nav-tabs > li + li {
  margin-left: 25px;
}
