.pagination > li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 2px;
}

.pagination > li:not(.active) > a,
.pagination > li:not(.active) > span {
  padding: 3px 9px;
  border-radius: 0;
}


.pagination > li.active> a,
.pagination > li.active> span {
  @extend .number;
  padding: 0;
}
