.summary {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -15px;

  @include media-breakpoint-up(lg) {
    margin: 0;
    flex-wrap: nowrap;
  }
  @include media-breakpoint-up(xl) {
    max-width: 70%;
  }

  &__col {
    flex-shrink: 0;
    flex-grow:1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 15px 0;

    @include media-breakpoint-up(lg) {
      margin: 0;
      & + & {margin-left: 20px;}
    }

    @include media-breakpoint-up(xl) {
      & + & {margin-left: 40px;}
    }
  }
  &__sep {
    display: none;
    height: 35px;
    margin:0 20px;
    border-left: 1px solid rgba(#979797, .3);

      @include media-breakpoint-up(lg) { display: block; }
      @include media-breakpoint-up(xl) { margin:0 40px; }
  }
  &__title {
    margin-bottom: 5px;
    font-weight: 700;
  }

  &__text {
    margin-bottom: 0;
    max-width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__image {
    flex-shrink: 0;
    margin-right: 10px;
    img {
      width: 26px;
    }
  }

  &__images {
    img {width: 24px;}
    img + img {margin-left: 5px;}
  }
}
