//
// Text
//

// Responsive alignment



@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    .text-#{$breakpoint}-left   { text-align: left !important; }
    .text-#{$breakpoint}-right  { text-align: right !important; }
    .text-#{$breakpoint}-center { text-align: center !important; }
  }
}

.text {
	&-blue {
		color: $brand-primary;
	}
	&-gray {
		color: $gray-base;
	}
	&-bold {
	  letter-spacing: 0.43px;
	  color: $gray4B;
	  font-weight: 500;
	  font-size: 15px;
	}
	
	&-light {
	  color: rgba($text-color, .9);
	  font-size: 12px;
	  font-weight: 500;
	  text-transform: uppercase;
	  line-height: 1;
	}	
}