<div class="modal fade" id="add-cloud-modal" tabindex="-1" role="dialog" aria-labelledby="add-cloud-modal">
	<div class="modal-dialog" role="document">
    	<div class="modal-content">
     		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        		<h2 class="modal-title section__lead" id="add-cloud-modal">Add Provider Cloud</h2>
        		<div class="section__lead">
		          	<p>Control infrastructure items in all your datacenters.</p>
		        </div>
      		</div>
      		<div class="modal-body">
      			
				<div class="video-panel hidden">
					<div class="row">
						<div class="col-xs-9">
							<h5 class="mb-0">How to install DC Agent Appliance</h5>
						</div>
						<div class="col-xs-3 text-right">
							<a href="#" id="show-video" class="text-uppercase">Show</a>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<div class="video-player hidden">
								<a href="#" class="btn btn-player px-3 a-center">play</a>
							</div>
						</div>
					</div>						
				</div>
				
				<div id="multistep-panel">
				
					<!-- First Step -->
					<div data-step="1" class="step">
						<div class="row">
							<div class="col-xs-12">
								<form name="add-cloud-form" method="post">
									<div class="form-group">
	                					<label>Name your Cloud</label>
	                					<input type="text" name="cloud-name" class="form-control">
	                				</div>
									<div class="form-group">
	                					<label>Choose Cloud to add to account</label>
	                					<select name="cloud-name" class="form-control">
	                						<option>Option1</option>
	                						<option>Option2</option>
	                						<option>Option3</option>
	                					</select>
	                				</div>
									<div class="form-group">
	                					<label>WMware Administrator user</label>
	                					<input type="text" name="wmware-admin-user" class="form-control">
	                				</div>
									<div class="form-group">
	                					<label>WMware Administrator Password</label>
	                					<input type="password" name="wmware-admin-password" class="form-control">
	                				</div> 
									<div class="form-group">
	                					<label>WMware VCenter DNS Name</label>
	                					<input type="text" name="wmware-dns-name" class="form-control">
	                				</div>                 			
	                			</form>
	                		</div>			
						</div>
					</div>
					<!-- Second Step -->
					<div data-step="2" class="step hidden">	
						<div class="row mt-2 text-center">
							<a href="#" class="btn btn-blue">DG Agent Registration</a>
						</div>
					</div>
					
					<!-- Third Step -->
					<div data-step="3" class="step hidden">
						<div class="row">
							<div class="col-xs-8 col-md-offset-2">
								<h5 class="mt-3 text-blue text-uppercase">DC Agent Registrations in progress...</h5>
								<div class="progress">
								  	<div class="progress-bar progress-bar-default" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
								    	<span class="sr-only">60% Complete</span>
								  	</div>
								</div>
							</div>	
						</div>
					</div>
					
					<!-- Fourth Step -->
					<div data-step="4" class="step hidden">
						<div class="row">
							<div class="col-xs-12 mt-3 text-center">
								<img src="images/icons/check-in-circle.svg" width="60"/>
								<h5 class="text-blue text-uppercase mt-2">Cxos has registered your dc agent</h5>
							</div>
						</div>
					</div>	
				</div>				
     		</div>
     		<div class="modal-footer">
     			<button class="btn btn-simple px-3 cancel-step modal-close" id="btn-prev">cancel</button>
     			<button class="btn btn-secondary px-4 incomplete" id="btn-next">next</button>
     		</div>
     	</div>
     </div>
</div>     		