    </div> <!-- /wrapper -->


    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-toggle.min.js"></script>
    <script type="text/javascript" src="js/select2.full.min.js"></script>
    <script type="text/javascript" src="js/dropzone.js"></script>
    <script type="text/javascript" src="js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="js/jquery.easypiechart.min.js"></script>
    
    <script type="text/javascript" src="js/flot/jquery.flot.js"></script>
    <script type="text/javascript" src="js/flot/jquery.flot.canvas.js"></script>
    <script type="text/javascript" src="js/flot/jquery.flot.resize.js"></script>
    <script type="text/javascript" src="js/flot/jquery.flot.time.js"></script>
    <script type="text/javascript" src="js/jquery.spinner.js"></script>
    
    <script type="text/javascript" src="js/dataTables.bootstrap.js"></script>
    <script type="text/javascript" src="js/templates.js"></script>
    <script type="text/javascript" src="js/dropdown.js"></script>
    <script type="text/javascript" src="js/progress-square.js"></script>
    <script type="text/javascript" src="js/add-item.js"></script>
    <script type="text/javascript" src="js/section.js"></script>
    <script type="text/javascript" src="js/dataTable.def.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
