    </div> <!-- /wrapper -->


    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.dataTables.js"></script>
    <script src="js/dataTables.bootstrap.js"></script>
    <script src="js/templates.js"></script>
    <script src="js/dropdown.js"></script>
    <script src="js/progress-square.js"></script>
    <script src="js/add-server.js"></script>
    <script src="js/section.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
