<div class="sidebar">
  <div class="sidebar__header">
    <a href="/" class="logo"><img src="images/logo.png" alt=""></a>
  </div>

  <div class="sidebar__content">
    <nav class="menu">
      <ul class="menu__list">
        <!-- active link must have class 'is-active' -->
        <li class="menu__item">
          <a href="#" class="menu__link"><span class="menu__icon"><img src="images/icons/chart.svg" alt=""></span>summary</a>
        </li>
        <li class="menu__item">
          <a href="servers.html" class="menu__link is-active"><span class="menu__icon"><img src="images/icons/servers.svg" alt=""></span>Servers</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link"><span class="menu__icon"><img src="images/icons/network.svg" alt=""></span>Network</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link"><span class="menu__icon"><img src="images/icons/star.svg" alt=""></span>Tasks</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link"><span class="menu__icon"><img src="images/icons/marketplace.svg" alt=""></span>Marketplace</a>
        </li>
      </ul>
    </nav>
  </div>


  <div class="sidebar__footer">
    <!-- Dropdown menu for user profile will be added later-->
    <div class="user">
      <div class="user__left">
        <div class="user__avatar">
          <img src="images/t_user.png" alt="">
          <div class="user__badge">3</div>
        </div>
      </div>

      <div class="user__desc">
        <p class="user__name">Sarah Williams</p>
        <p class="user__role">Superadmin</p>
      </div>

      <span class="user__caret caret"></span>
    </div>
  </div>
</div>
